<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1Soap1" />
                <binding name="WSAlumnoSinBDPortBinding" />
                <binding name="WebService1Soap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44379/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="SR_WSAlumnoSinBD.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://localhost:8080/WSAlumnoSinBD/WSAlumnoSinBD"
                binding="basicHttpBinding" bindingConfiguration="WSAlumnoSinBDPortBinding"
                contract="SR_GetWSAlumnoSinBD.WSAlumnoSinBD" name="WSAlumnoSinBDPort" />
            <endpoint address="http://localhost:50290/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap2" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap1" />
        </client>
    </system.serviceModel>
</configuration>